
.container-ads{
  margin-top: 100px !important;
}
.Heading{
    display: flex;
    justify-content: space-between;
}
.btn-create{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    
}


