.login-header{
    font-family: Arial, sans-serif;
}
.login-header h1 {
    text-align: center;
    font-size: 30px !important;
    margin-bottom: 10px;
    color: #333;
    font-weight: bolder !important;
  }
  
  .login-header p {
    text-align: center;
    font-size: 20px;
    color: #414141 !important;
  }
  .ant-form-item-label .title{
    font-size: 400px;
  }
  .ant-input-password{
    width: 100%;
    
    border: none;
    border-radius: 20px !important;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 18px !important;
    transition: all 0.3s ease;
  }
/* Divider */
.divider {
    text-align: center;
    margin: 20px 0;
    font-size: 12px;
    color: #414141 ;
    position: relative;
  }
  
  .divider:before,
  .divider:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 45%;
    height: 2px;
    background: #ddd;
  }
  
  .divider:before {
    left: 0;
  }
  
  .divider:after {
    right: 0;
  }
.btnLogin{
    width: 70%;
  padding: 12px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 20px !important;
  font-size: 18px ;
  cursor: pointer;
}

.btnLoginwithGoogle{
    width: 100%;
  padding: 12px;
  background-color: #db4437;
  color: #fff;
  border: none;
  border-radius: 15px !important;
  font-size: 16px;
  cursor: pointer;
}

.btnLoginwithGoogle:hover {
    background-color: #c23321;
}


