USE [master]
GO
/****** Object:  Database [SWP391_FengShuiKoiConsulting_DB]    Script Date: 31/10/2024 7:41:35 CH ******/
CREATE DATABASE [SWP391_FengShuiKoiConsulting_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SWP391_FengShuiKoiConsulting_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HAUHUYNH\MSSQL\DATA\SWP391_FengShuiKoiConsulting_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SWP391_FengShuiKoiConsulting_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HAUHUYNH\MSSQL\DATA\SWP391_FengShuiKoiConsulting_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWP391_FengShuiKoiConsulting_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWP391_FengShuiKoiConsulting_DB]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 31/10/2024 7:41:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserID] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](500) NOT NULL,
	[Role] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ads_Package]    Script Date: 31/10/2024 7:41:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ads_Package](
	[AdID] [nvarchar](50) NOT NULL,
	[Rank] [nvarchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[ExpiredDate] [date] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Total] [float] NOT NULL,
	[CreateAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdID] ASC,
	[Rank] ASC,
	[CreateAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Advertisement]    Script Date: 31/10/2024 7:41:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advertisement](
	[AdID] [nvarchar](50) NOT NULL,
	[Heading] [nvarchar](255) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Link] [nvarchar](max) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[ElementID] [nvarchar](50) NULL,
	[status] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 31/10/2024 7:41:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogID] [nvarchar](50) NOT NULL,
	[Heading] [nvarchar](255) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Link] [nvarchar](max) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 31/10/2024 7:41:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[ColorID] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direction]    Script Date: 31/10/2024 7:41:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direction](
	[DirectionID] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DirectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Element]    Script Date: 31/10/2024 7:41:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Element](
	[ElementID] [nvarchar](50) NOT NULL,
	[Mutualism] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ElementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Element_Color]    Script Date: 31/10/2024 7:41:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Element_Color](
	[ElementID] [nvarchar](50) NOT NULL,
	[ColorID] [nvarchar](50) NOT NULL,
	[ColorPoint] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ElementID] ASC,
	[ColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 31/10/2024 7:41:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FbID] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[AdID] [nvarchar](50) NOT NULL,
	[Rate] [tinyint] NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FbID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Koi_Variety]    Script Date: 31/10/2024 7:41:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Koi_Variety](
	[KoiType] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Element] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KoiType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LifePalace]    Script Date: 31/10/2024 7:41:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LifePalace](
	[LifePalaceID] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LifePalaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LifePalace_Direction]    Script Date: 31/10/2024 7:41:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LifePalace_Direction](
	[LifePalaceID] [nvarchar](50) NOT NULL,
	[DirectionID] [nvarchar](50) NOT NULL,
	[EightMansions] [nvarchar](50) NOT NULL,
	[PointOfDirection] [float] NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LifePalaceID] ASC,
	[DirectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 31/10/2024 7:41:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[Name] [nvarchar](50) NOT NULL,
	[Birthday] [date] NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Package]    Script Date: 31/10/2024 7:41:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Package](
	[Rank] [nvarchar](50) NOT NULL,
	[Duration] [int] NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Rank] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PointOfShape]    Script Date: 31/10/2024 7:41:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointOfShape](
	[Point] [float] NOT NULL,
	[ElementID] [nvarchar](50) NOT NULL,
	[ShapeID] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ElementID] ASC,
	[ShapeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuantityOfFish]    Script Date: 31/10/2024 7:41:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuantityOfFish](
	[ElementID] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ElementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shape]    Script Date: 31/10/2024 7:41:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shape](
	[ShapeID] [nvarchar](50) NOT NULL,
	[image] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShapeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_Color]    Script Date: 31/10/2024 7:41:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_Color](
	[KoiType] [nvarchar](50) NOT NULL,
	[ColorID] [nvarchar](50) NOT NULL,
	[Percentage] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KoiType] ASC,
	[ColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([UserID], [Password], [Role], [Email], [Status]) VALUES (N'after', N'123', N'Member', N'ngochau1310@gmail.com', N'Active')
INSERT [dbo].[Account] ([UserID], [Password], [Role], [Email], [Status]) VALUES (N'hau', N'123', N'Admin', N'hauhnse183392@fpt.edu.vn', N'Active')
INSERT [dbo].[Account] ([UserID], [Password], [Role], [Email], [Status]) VALUES (N'huy', N'123', N'Member', N'huynqse183261@fpt.edu.vn', N'Active')
GO
INSERT [dbo].[Ads_Package] ([AdID], [Rank], [StartDate], [ExpiredDate], [Quantity], [Total], [CreateAt]) VALUES (N'AD004', N'Silver', CAST(N'2024-09-11' AS Date), CAST(N'2024-12-10' AS Date), 2, 4000000, CAST(N'2024-09-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Ads_Package] ([AdID], [Rank], [StartDate], [ExpiredDate], [Quantity], [Total], [CreateAt]) VALUES (N'AD065', N'Silver', CAST(N'2024-10-30' AS Date), CAST(N'2024-11-29' AS Date), 3, 6000000, CAST(N'2024-10-30T17:43:02.000' AS DateTime))
INSERT [dbo].[Ads_Package] ([AdID], [Rank], [StartDate], [ExpiredDate], [Quantity], [Total], [CreateAt]) VALUES (N'AD081', N'Diamond', CAST(N'2024-10-30' AS Date), CAST(N'2025-03-29' AS Date), 5, 30000000, CAST(N'2024-10-30T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Color] ([ColorID]) VALUES (N'Bạc')
INSERT [dbo].[Color] ([ColorID]) VALUES (N'Cam')
INSERT [dbo].[Color] ([ColorID]) VALUES (N'Đen')
GO
INSERT [dbo].[Direction] ([DirectionID]) VALUES (N'Bắc')
INSERT [dbo].[Direction] ([DirectionID]) VALUES (N'Đông')
INSERT [dbo].[Direction] ([DirectionID]) VALUES (N'Đông Bắc')
GO
INSERT [dbo].[Element] ([ElementID], [Mutualism]) VALUES (N'Hỏa', N'Mộc')
INSERT [dbo].[Element] ([ElementID], [Mutualism]) VALUES (N'Kim', N'Thổ')
INSERT [dbo].[Element] ([ElementID], [Mutualism]) VALUES (N'Mộc', N'Thủy')
GO
INSERT [dbo].[Element_Color] ([ElementID], [ColorID], [ColorPoint]) VALUES (N'Hỏa', N'Bạc', 0.25)
INSERT [dbo].[Element_Color] ([ElementID], [ColorID], [ColorPoint]) VALUES (N'Hỏa', N'Cam', 0.75)
INSERT [dbo].[Element_Color] ([ElementID], [ColorID], [ColorPoint]) VALUES (N'Hỏa', N'Đen', 0.25)
GO
INSERT [dbo].[Koi_Variety] ([KoiType], [Image], [Element], [Description]) VALUES (N'Asagi', N'https://firebasestorage.googleapis.com/v0/b/swp391-koifengshuiconsult.appspot.com/o/asagi.jpg?alt=media&token=d7db3c27-ead9-422a-9277-09e0ee7ab66b', N'Thủy', N'Asagi chính là giống sản sinh ra Nishikigoi, chúng bắt nguồn từ loài cá chép đen thường sinh sống ở những vùng sông hoặc suối, những chú cá chép đen có sự tiến hóa vượt bậc và được người dân Nhật chọn lựa những chú cá có màu sắc như Trắng, Xanh dương và màu đỏ và giữ lại trong hồ.')
INSERT [dbo].[Koi_Variety] ([KoiType], [Image], [Element], [Description]) VALUES (N'Beni Kumonryu', N'https://firebasestorage.googleapis.com/v0/b/swp391-koifengshuiconsult.appspot.com/o/Beni_Kumonryu.jpg?alt=media&token=de20399f-5096-4b07-9de0-ff67e850ab0f', N'Hỏa', N'Koi Beni Kumonryu là một biến thể hiếm hoi của Kumonryu, chúng thường có ba màu là đỏ, đen và trắng.')
INSERT [dbo].[Koi_Variety] ([KoiType], [Image], [Element], [Description]) VALUES (N'Gin Rin Yamato Nishiki', N'https://firebasestorage.googleapis.com/v0/b/swp391-koifengshuiconsult.appspot.com/o/GinRinYamatoNishiKi.jpg?alt=media&token=d452d1c9-15ec-4dcf-8217-a2927639a9b5', N'Hỏa', N'Gin Rin Yamato nishiki koi là loài cá được lai tạo khoảng thời gian sau này của giống koi sanke. Có thể nói cá koi yamato nishiki giúp vẻ đẹp màu sắc Gin Rin tiến đến một tầm mới hơn khi phủ lên mình cá một lớp ánh kim loại lấp lánh.')
GO
INSERT [dbo].[LifePalace] ([LifePalaceID]) VALUES (N'Càn')
INSERT [dbo].[LifePalace] ([LifePalaceID]) VALUES (N'Cấn')
INSERT [dbo].[LifePalace] ([LifePalaceID]) VALUES (N'Chấn')
GO
INSERT [dbo].[LifePalace_Direction] ([LifePalaceID], [DirectionID], [EightMansions], [PointOfDirection], [Description]) VALUES (N'Càn', N'Bắc', N'Lục sát', 0.25, N'Hướng dễ hao tài, tốn của và thành viên trong gia đình gặp rủi ro, tai nạn.')
INSERT [dbo].[LifePalace_Direction] ([LifePalaceID], [DirectionID], [EightMansions], [PointOfDirection], [Description]) VALUES (N'Càn', N'Đông', N'Ngũ quỷ', 0.25, N'Hướng gây trở ngại trong quan hệ tình cảm và có nhiều thử thách, bệnh tật.')
INSERT [dbo].[LifePalace_Direction] ([LifePalaceID], [DirectionID], [EightMansions], [PointOfDirection], [Description]) VALUES (N'Càn', N'Đông Bắc', N'Thiên y', 1, N'Đây là hướng tập trung vào sức khỏe, có thể giảm bớt bệnh tật và mang lại sự thịnh vượng.')
GO
INSERT [dbo].[Member] ([Name], [Birthday], [UserID]) VALUES (N'After Huỳnh', CAST(N'2000-10-20' AS Date), N'after')
INSERT [dbo].[Member] ([Name], [Birthday], [UserID]) VALUES (N'Huỳnh Ngọc Hậu', CAST(N'1990-01-01' AS Date), N'hau')
INSERT [dbo].[Member] ([Name], [Birthday], [UserID]) VALUES (N'Nguyễn Quốc Huy', CAST(N'1995-05-15' AS Date), N'huy')
GO
INSERT [dbo].[Package] ([Rank], [Duration], [Description], [price]) VALUES (N'Diamond', 30, N'Hình ảnh lớn, xuất hiện ở đầu trang, tần suất xuất hiện nhiều, phù hợp với các doanh nghiệp lớn muốn quảng bá mạnh mẽ.', 6000000)
INSERT [dbo].[Package] ([Rank], [Duration], [Description], [price]) VALUES (N'Gold', 30, N'Hình ảnh vừa, xuất hiện ở dưới gói Dimond, tần suất xuất hiện vừa, phù hợp với doanh nghiệp vừa và nhỏ muốn có sự hiện diện ổn định.', 4000000)
INSERT [dbo].[Package] ([Rank], [Duration], [Description], [price]) VALUES (N'Silver', 30, N'Hình ảnh nhỏ, chỉ xuất hiện ở trang đăng tin, tần suất xuất hiện ít, phù hợp với doanh nghiệp cá nhân hoặc startup muốn tiết kiệm chi phí.', 2000000)
GO
INSERT [dbo].[PointOfShape] ([Point], [ElementID], [ShapeID]) VALUES (1, N'Hỏa', N'Hình chữ nhật')
INSERT [dbo].[PointOfShape] ([Point], [ElementID], [ShapeID]) VALUES (0.25, N'Hỏa', N'Hình lượn sóng')
INSERT [dbo].[PointOfShape] ([Point], [ElementID], [ShapeID]) VALUES (0.75, N'Hỏa', N'Hình tam giác')
GO
INSERT [dbo].[QuantityOfFish] ([ElementID], [Description]) VALUES (N'Hỏa', N'Phù hợp nuôi số lượng cá có hàng đơn vị là 2 hoặc 7. VD: 2 con, 12 con, 7 con, 27 con,...')
INSERT [dbo].[QuantityOfFish] ([ElementID], [Description]) VALUES (N'Kim', N'Phù hợp nuôi số lượng cá có hàng đơn vị là 4 hoặc 9. VD: 4 con, 14 con, 9 con, 29 con,...')
INSERT [dbo].[QuantityOfFish] ([ElementID], [Description]) VALUES (N'Mộc', N'Phù hợp nuôi số lượng cá có hàng đơn vị là 3 hoặc 8. VD: 3 con, 13 con, 8 con, 28 con,...')
GO
INSERT [dbo].[Shape] ([ShapeID], [image]) VALUES (N'Hình chữ nhật', N'https://firebasestorage.googleapis.com/v0/b/swp391-koifengshuiconsult.appspot.com/o/hinhchunhat.jpg?alt=media&token=07ddfbd1-a983-410a-822b-686657f9efd3')
INSERT [dbo].[Shape] ([ShapeID], [image]) VALUES (N'Hình lượn sóng', N'https://firebasestorage.googleapis.com/v0/b/swp391-koifengshuiconsult.appspot.com/o/hinhluonsong.jpg?alt=media&token=70cbce4c-2c65-445d-9a4e-99744da6de1b')
INSERT [dbo].[Shape] ([ShapeID], [image]) VALUES (N'Hình tam giác', N'https://firebasestorage.googleapis.com/v0/b/swp391-koifengshuiconsult.appspot.com/o/triangular_pond.jpg?alt=media&token=29d51e03-094a-4ba9-a8f4-e5a46f0e2220')
GO
INSERT [dbo].[Type_Color] ([KoiType], [ColorID], [Percentage]) VALUES (N'Asagi', N'Đen', 0.5)
INSERT [dbo].[Type_Color] ([KoiType], [ColorID], [Percentage]) VALUES (N'Asagi', N'Đỏ', 0.1)
INSERT [dbo].[Type_Color] ([KoiType], [ColorID], [Percentage]) VALUES (N'Asagi', N'Trắng', 0.4)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__A9D10534B0611E0B]    Script Date: 31/10/2024 7:41:35 CH ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ads_Package]  WITH CHECK ADD FOREIGN KEY([AdID])
REFERENCES [dbo].[Advertisement] ([AdID])
GO
ALTER TABLE [dbo].[Ads_Package]  WITH CHECK ADD FOREIGN KEY([Rank])
REFERENCES [dbo].[Package] ([Rank])
GO
ALTER TABLE [dbo].[Advertisement]  WITH CHECK ADD FOREIGN KEY([ElementID])
REFERENCES [dbo].[Element] ([ElementID])
GO
ALTER TABLE [dbo].[Advertisement]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Member] ([UserID])
GO
ALTER TABLE [dbo].[Element_Color]  WITH CHECK ADD FOREIGN KEY([ColorID])
REFERENCES [dbo].[Color] ([ColorID])
GO
ALTER TABLE [dbo].[Element_Color]  WITH CHECK ADD FOREIGN KEY([ElementID])
REFERENCES [dbo].[Element] ([ElementID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([AdID])
REFERENCES [dbo].[Advertisement] ([AdID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Member] ([UserID])
GO
ALTER TABLE [dbo].[LifePalace_Direction]  WITH CHECK ADD FOREIGN KEY([DirectionID])
REFERENCES [dbo].[Direction] ([DirectionID])
GO
ALTER TABLE [dbo].[LifePalace_Direction]  WITH CHECK ADD FOREIGN KEY([LifePalaceID])
REFERENCES [dbo].[LifePalace] ([LifePalaceID])
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Account] ([UserID])
GO
ALTER TABLE [dbo].[PointOfShape]  WITH CHECK ADD FOREIGN KEY([ElementID])
REFERENCES [dbo].[Element] ([ElementID])
GO
ALTER TABLE [dbo].[PointOfShape]  WITH CHECK ADD FOREIGN KEY([ShapeID])
REFERENCES [dbo].[Shape] ([ShapeID])
GO
ALTER TABLE [dbo].[QuantityOfFish]  WITH CHECK ADD FOREIGN KEY([ElementID])
REFERENCES [dbo].[Element] ([ElementID])
GO
ALTER TABLE [dbo].[Type_Color]  WITH CHECK ADD FOREIGN KEY([ColorID])
REFERENCES [dbo].[Color] ([ColorID])
GO
ALTER TABLE [dbo].[Type_Color]  WITH CHECK ADD FOREIGN KEY([KoiType])
REFERENCES [dbo].[Koi_Variety] ([KoiType])
GO
USE [master]
GO
