.dashboard-container {
  display: flex;
  background-color: #f0f2f5; /* Light background for the container */
}

.dashboard-content {
  flex-grow: 1;
  padding: 20px;
  border-radius: 8px; /* Rounded corners for the content area */
  background-color: #ffffff; /* White background for content */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

h2 {
  margin-bottom: 20px;
  color: #333; /* Darker text color for better readability */
  font-size: 24px; /* Increased font size */
}

.ant-table-wrapper {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.user-management-table {
  margin: 10px 100px;
}

/* New styles for table rows and buttons */
.ant-table-tbody > tr:hover {
  background-color: #f5f5f5; /* Light gray background on row hover */
}

.ant-btn {
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for button hover */
}

.ant-btn:hover {
  background-color: #1890ff; /* Primary color on hover */
  color: white; /* White text on hover */
}

/* Style for the select dropdown */
.ant-select-selector {
  border-radius: 4px; /* Rounded corners for select */
  border: 1px solid #d9d9d9; /* Light border */
}

.ant-select-selector:hover {
  border-color: #40a9ff; /* Change border color on hover */
}