
body {
  font-family: Arial, sans-serif; 
  background-color: #f4f4f4; 
  margin: 0; 
  padding: 0; 
}

.dashboard-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 20px;
}

h2 {
  text-align: center; 
  color: #333; 
  margin-bottom: 40px; 
}

.overview-cards {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 20px; 
  width: 100%; 
  max-width: 1200px; 
}

.overview-card {
  background-color: #007bff; 
  color: white; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  flex: 1; 
  margin: 0 10px; 
  text-align: center; 
}

.overview-card h3 {
  margin: 0; 
  font-size: 1.5em; 
}

.overview-card p {
  font-size: 2em; 
  font-weight: bold; 
}

.chart-container {
  display: flex; 
  justify-content: space-between; 
  width:50%; 
  max-width: 1200px; 
  margin-bottom: 20px; 
}

.chart-container > div {
  flex: 1; 
  margin: 0 10px; 
}

.chart-container p {
  text-align: center; 
  color: #666; 
}